global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape Prometheus lui-même (pour vérifier que tout fonctionne)
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

